<h2>Order details</h2>
<div>
	<% @order_items.each do |order_item| %>
	 <h3> <%= order_item.product.productName %></h3>
	 <h4> price (for<%= order_item.quantity %> pices):Rs.<%= order_item.totalPrice %> </h4>
	 <% end %>
</div>
<%= link_to "back", products_path%>

