<div>
  <div class="row">
    <div class="col-3">
      <form name="form1" method="get" action="/products">
      <p>
        <label for="price">sort by price:</label>
        <select id="price" name="orderby" onChange="select_price(this);">
          <option disabled selected value>default</option>
          <option value="0">low to high</option>
          <option value="1">high to low</option>
          <option value="1">name</option>
        </select>
      </p>
      <input type="submit" value="apply" >
    </form>
    </div>
    <div class="col-9">
      <div class="row">
          <% @products.each do |product| %>
        <div class="col-4">  
          <h5><%= product.productName %></h5>
          <p>Rs.<%= product.productPrice %></p>
          <%= link_to "Add to cart", 'http://localhost:3000/cart_items?'+{product_id:product.id}.to_param,  data: { "turbo-method": :post }  %>
        </div>
        <% end %>
      </div>
      <div>
        <%= paginate @products  %>    
      </div>
    </div>
  </div>
</div>

	

  